{% extends 'base.html.twig' %}

{% block body %}

    <h1>
        Sveiki atvykę į Elektroninį dienyną!
    </h1>

    <p>
        Šiame elektroniniame dienyne bus surašoma visa vykusių pamokų informacija.
    </p>
    
    <a href="#" class="btn btn-success">Prisijungti</a>
    <a href="#" class="btn btn-default">Registruotis</a>

{% endblock %}