{% extends 'base.html.twig' %}

{% block body %}
    <h1>Puslapio kūrimas</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Kurti" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('pages_index') }}">Grįžti į sąrašą</a>
        </li>
    </ul>
{% endblock %}
